.section {
  height: 90vh;
  text-align: center;
  transition: transform 0.5s ease-in-out;
  align-items: center;
}


#app-container {
  position: relative;
  z-index: 10;
  
}



#bg {
  width: 100%;
  z-index: -10;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#bg:hover {
  cursor: pointer;
}

.Container {
  background: white;
  padding-top: 1%;
  width: 100%;
  position: relative;
  margin-top: 10%;
}


main {
  z-index: 10;
}
.App {
  width: 90%;
  margin: auto;
  margin-top: 5%;
  height: auto;
  padding: 5%;
}

.slide img {
  width: 80%;
  height: auto;
  margin: 0 auto;
  
  border-radius: 5px;
 
}

.slide {
  transform: scale(0.7);
  transition: transform 330ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
}

.arrow {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #B300EE;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}

#portfolio {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}


/* HEADER COMPONENT CSS */

#header {
  padding-bottom: 3%;
  z-index: 10;
  margin-top: -5%;
  
}

#name {
  text-align: left;
  width: 70%;
  margin-left: 24%;
  z-index: 10;
  margin-bottom: 2rem;
  font-size: 3rem;
}

#portfolio-title {
  color: black;
  margin-top: -2%;
  text-align: left;
  width: 70%;
  margin-left: 28%;
  z-index: 10;

}


#project-item {
  flex: 1;
  max-width: 50%;
  position: relative;
}



#project-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#project-img {
  width: 200px;
}

#projects-png {
  max-width: 200px;
}


#image-wrap {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}

#overlay:hover {
  opacity: 1;
}


.image-container {
  width: 400px;
  height: 400px;
  position: relative;
}

#chatbot-img {
  max-width: 70%;
  height: auto;
  border-radius: 10px;
  padding-top: 10%;
}

#live-view {
  position: relative;
  top: 57px;
  left: 25%;
  border-radius: 3px;
  background: none;
  border: 1px solid transparent;
  color: black;
  height: 25px;
  background: white;
}

#live-view:hover {
  cursor: pointer;
  opacity: 0.9;
}

#github-favicon {
  position: relative;
  max-width: 32px;
  border-radius: 5px;
  top: 95px;
  left: 120px;
}

#github-favicon:hover {
  cursor: pointer;
  opacity: 90%;
}

/* ABOUT ME COMPONENT CSS */

@keyframes shake {
  0% {
    transform: scale(1) rotate(0.3deg);
  }
  25% {
    transform: scale(1.01) rotate(-0.3deg);
  }
  50% {
    transform: scale(1) rotate(0.3deg);
  }
  75% {
    transform: scale(1.01) rotate(-0.3deg);
  }
  100% {
    transform: scale(1) rotate(0.3deg);
  }
}

.shake-and-hover {
  animation: shake 10s ease-in-out infinite;
  z-index: 10;
}

#profile-picture {
  width: 200px;
  padding: 30px;
  margin: auto;
  z-index: 10;
}

#profile-picture:hover {
  cursor: pointer;
}

#profile-picture:active {
  opacity: 0.7;
}

#about-text {
  position: relative;
  top: 20px;
  padding-left: 20px;
  z-index: 10;
}

#about-me {
  position: relative;
  top: 10px;
  z-index: 10;
}

#about {
  padding-top: 125px;
  z-index: 10;
}

#profile-container {
  display: flex;
  flex: 1;
  align-items: flex-start;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-width: 70rem;
  margin: auto;
  margin-bottom: 10%;
  background-color: white;
  font-family: Andale mono, monospace;
  text-align: left;
  z-index: 10;
  border-radius: 2px;
 
}

#profile-image {
  border-radius: 10px 0 0 10px;
  box-shadow: -8px 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 50rem;
  padding: 40px 150px 40px 100px;
  border: none;
  background-color: #fff;
  z-index: 10;
}

header {
  
  padding: 1rem;
  text-align: center;
  font-family: Andale mono, monospace;
  margin-top: 1.5rem;
  font-size: 1.7rem;
  font-weight: bold;
  background: linear-gradient(to right, rgb(0, 0, 219), rgb(255, 0, 255));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  z-index: 10;
  margin: auto;
 
}

/* FOOTER COMPONENT CSS */

footer {
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: rgba(0, 0, 0, 0.9);
  color: #ffffff;
 
  
}

#footer-text {
  margin: auto;
  padding: 2px;
  z-index: 10;
}

