

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* HEADER COMPONENT CSS */

#header {
  padding-bottom: 3%;
}

#portfolio-title {
  color: black;
  margin-top: -2%;
}


/* PROJECTS COMPONENT CSS */

#projects-container {
  box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.2);
  border-bottom: none;
  max-width: 80rem;
  max-height: 800px;
  margin: auto;
  border-radius: 10px;
  margin-top: 200px;
}


#project-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#project-img {
width: 200px;
}

#projects-png {
  max-width: 200px;
}
.overlay-text {
  position: absolute;
  left: 250px;
  margin-top: -200px;
  max-width: 300px;
  color: black;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.image-container {
  max-width: 200px;
}


#chatbot-img {
max-width: 400px;
}

#live-view {

}



/* ABOUT ME COMPONENT CSS */

#profile-picture {
width: 200px;
padding: 30px;
margin: auto;
}

#about-text {
  position: relative;
  top: 20px;
  padding-left: 20px;
}

#about-me {
position: relative;
top: 10px;
}


#about {
  padding-top: 125px;
}

#profile-container {
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-width: 70rem;
  margin: auto;
  background-color: #fff;
  font-family: Andale mono, monospace;
  text-align: left;
}



#profile-image {
  border-radius: 10px 0 0 10px;
  box-shadow: -8px 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 50rem;
  padding: 40px 150px 40px 100px;
  border: none;
  background-color: #fff;
}


header {
  padding: 1rem;
  text-align: center;
  font-family: Andale mono, monospace;
  z-index: 1;
  margin-top: 1.5rem;
  font-size: 1.7rem;
  font-weight: bold;
  background: linear-gradient(to right, rgb(0, 0, 219), rgb(255, 0, 255));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}



footer {
  text-align: center;
  font-family: Andale mono, monospace;
  color: white;
  background: rgb(104, 102, 102);
  margin-top: 120px;
}



.favicon {
  max-width: 80px;
  margin-top: -200px;
  opacity: 40%;
  margin-left: -70px;
}



