* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#about {
  padding-top: 125px;
}

#profile-container {
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-width: 70rem;
  margin: auto;
  background-color: #fff;
}

#projects {
  box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.2);
  border-bottom: none;
  max-width: 1130px;
  margin-left: 155px;
  border-radius: 10px;
  margin-top: 70px;
  padding-bottom: 100px;
}

#profile-image {
  border-radius: 10px 0 0 10px;
  box-shadow: -8px 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 50rem;
  padding: 40px 150px 40px 100px;

  border: none;
  background-color: #fff;
}

#pp {
  max-width: 200px;
  max-height: 200px;
  margin-top: 10%;
  margin-left: 10%;
  border-radius: 50%;
}
#profile {
  padding: 1rem;
  text-align: left;
  max-width: calc(100% - 15rem);

  margin: 0;
  border: none;
  box-sizing: border-box;
  background-color: #fff;
  font-family: Andale mono, monospsace;
}

@media (max-width: 600px) {
  #profile-container {
    flex-direction: column;
    max-width: 100%;
  }
  #profile-image {
    max-width: 100%;
    min-height: auto;
  }
  #profile {
    max-width: 100%;
  }
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  padding: 1rem;
  text-align: center;
  font-family: Andale mono, monospsace;
  z-index: 1;
  margin-top: 1.5rem;
  font-size: 1.7rem;
  font-weight: bold;
  background: linear-gradient(to right, rgb(0, 0, 219), rgb(255, 0, 255));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#proTitle {
  color: black;
}

.projImg {
  max-width: 300px;
  border-radius: 2%;
}

footer {
  text-align: center;
  font-family: Andale mono, monospsace;
  color: white;
  background: rgb(104, 102, 102);
  margin-top: 120px;
}

#skillH {
  font-family: Andale mono, monospsace;
  text-align: center;
  margin-top: 48px;

  top: 750px;
}

#skillH3 {
  font-family: Andale mono, monospsace;
  text-align: center;

  top: 800px;
}

#skillSec {
  font-family: Andale mono, monospsace;
}

#heading-container {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 150px;
}

#projImg {
  max-width: 600px;
  margin-left: 50px;
  color: black;
}

#projHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 1rem;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-right: 0;
  justify-content: center;
  align-items: center;
}

.overlay-text {
  position: absolute;
  left: 250px;
  margin-top: -200px;
  max-width: 300px;

  color: black;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.project {
  flex: 1 1 calc(33% - 2rem);
  color: red;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  border-radius: 10px;

  display: inline-block;
}

.project h3 {
  margin-top: 0;
}

#tools {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  color: white;
  font-family: Arial, sans-serif;
}

#skills {
  padding-top: 200px;
  padding-bottom: 100px;
  max-width: 300px;
}

#container-skills {
  border-radius: 10px;
  display: grid;
  place-items: center;
  height: 700px;
  width: 80%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

#section-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

img.projImg:hover {
  background-color: grey;
  opacity: 50%;
}

.favicon {
  max-width: 80px;
  margin-top: -200px;
  opacity: 40%;
  margin-left: -70px;
}
.container {
  position: relative;
}

#laptop {
  max-width: 300px;
  text-align: center;
  margin-top: 100px;
}

#f1 {
  position: absolute;
  color: #fff;
  max-width: 300px;
  min-height: 300px;

  margin-top: -500px;
  transform: translate(-50%, -50%);

  animation: rotateOne 22s linear infinite;
}
@keyframes rotateOne {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#f2 {
  position: absolute;
  color: #fff;
  max-width: 320px;
  min-height: 320px;

  margin-top: -500px;
  transform: translate(-50%, -50%);

  animation: rotateTwo 20s linear infinite;
}

@keyframes rotateTwo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

#f3 {
  position: absolute;
  color: #fff;
  max-width: 320px;
  min-height: 320px;

  margin-top: -500px;
  transform: translate(-50%, -50%);

  animation: rotateThree 20s linear infinite;
}
@keyframes rotateThree {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#f4 {
  position: absolute;
  color: #fff;
  max-width: 320px;
  min-height: 320px;

  margin-top: -500px;
  transform: translate(-50%, -50%);

  animation: rotateFour 19s linear infinite;
}
@keyframes rotateFour {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

#f5 {
  position: absolute;
  color: #fff;
  max-width: 320px;
  min-height: 320px;

  margin-top: -500px;
  transform: translate(-50%, -50%);

  animation: rotateFive 18s linear infinite;
}
@keyframes rotateFive {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#f6 {
  position: absolute;
  color: #fff;
  max-width: 320px;
  min-height: 320px;

  margin-top: -500px;
  transform: translate(-50%, -50%);

  animation: rotateSix 17s linear infinite;
}
@keyframes rotateSix {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

#f7 {
  position: absolute;
  color: #fff;
  max-width: 320px;
  min-height: 320px;

  margin-top: -500px;
  transform: translate(-50%, -50%);

  animation: rotateSeven 16s linear infinite;
}
@keyframes rotateSeven {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#f8 {
  position: absolute;
  color: #fff;
  max-width: 320px;
  min-height: 320px;

  margin-top: -500px;
  transform: translate(-50%, -50%);

  animation: rotateEight 15s linear infinite;
}
@keyframes rotateEight {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.planet {
  margin-top: -200px;
  position: relative;
  width: 500px;
  height: 50px;
  border-radius: 15px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 50px;
  background: linear-gradient(to right, rgb(0, 0, 219), rgb(255, 0, 255));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
  font-family: Andale mono, monospsace;
}

#One {
  position: absolute;
  color: #fff;
  width: 10px;
  height: 120px;
  left: 80%;
  margin-top: -100px;
  transform: translate(-50%, -50%);

  animation: rotateOne 3s linear infinite;
}
@keyframes rotateOne {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Two {
  position: absolute;
  color: white;
  width: 20px;
  height: 120px;
  margin-top: -90px;
  left: 20%;

  border-radius: 50%;
  animation: rotateTwo 2s linear infinite;
}
@keyframes rotateTwo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.project {
  position: relative;
}

.image-container {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 250px;
}

.projImg {
  display: block;
  width: 300px;
  height: 250px;
}

.overlay-text {
  position: absolute;
  top: 200px;
  left: 0;
  width: 300px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: Andale mono, monospsace;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  border-radius: 10px;
}

.image-container:hover .overlay-text {
  opacity: 1;
}

img.github-favicon {
  max-width: 25px;
  border-radius: 10px;
  position: absolute;
  right: 15px;
  bottom: 10px;
}

#wrapper {
  background-color: blue;
  width: 500px;
}

button.live-view {
  min-width: 50px;
  position: absolute;
  right: 50px;
  bottom: 13px;
  border-radius: 5px;
  border: none;
  font-family: Andale mono, monospsace;
}

img.github-favicon:hover {
  cursor: pointer;
  opacity: 80%;
}

.live-view:hover {
  cursor: pointer;
  opacity: 80%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#about {
  padding-top: 125px;
}

#profile-container {
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-width: 70rem;
  margin: auto;
  background-color: #fff;
}

#projects {
  box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.2);
  border-bottom: none;
  max-width: 1130px;
  margin-left: 155px;
  border-radius: 10px;
  margin-top: 70px;
  padding-bottom: 100px;
}

#profile-image {
  border-radius: 10px 0 0 10px;
  box-shadow: -8px 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 50rem;
  padding: 40px 150px 40px 100px;

  border: none;
  background-color: #fff;
}

#pp {
  max-width: 200px;
  max-height: 200px;
  margin-top: 10%;
  margin-left: 10%;
  border-radius: 50%;
}
#profile {
  padding: 1rem;
  text-align: left;
  max-width: calc(100% - 15rem);

  margin: 0;
  border: none;
  box-sizing: border-box;
  background-color: #fff;
  font-family: Andale mono, monospsace;
}

@media (max-width: 600px) {
  #profile-container {
    flex-direction: column;
    max-width: 100%;
  }
  #profile-image {
    max-width: 100%;
    min-height: auto;
  }
  #profile {
    max-width: 100%;
  }
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  padding: 1rem;
  text-align: center;
  font-family: Andale mono, monospsace;
  z-index: 1;
  margin-top: 1.5rem;
  font-size: 1.7rem;
  font-weight: bold;
  background: linear-gradient(to right, rgb(0, 0, 219), rgb(255, 0, 255));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#proTitle {
  color: black;
}

.projImg {
  max-width: 300px;
  border-radius: 2%;
}

footer {
  text-align: center;
  font-family: Andale mono, monospsace;
  color: white;
  background: rgb(104, 102, 102);
  margin-top: 120px;
}

#skillH {
  font-family: Andale mono, monospsace;
  text-align: center;
  margin-top: 48px;

  top: 750px;
}

#skillH3 {
  font-family: Andale mono, monospsace;
  text-align: center;

  top: 800px;
}

#skillSec {
  font-family: Andale mono, monospsace;
}

#heading-container {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 150px;
}

#projImg {
  max-width: 600px;
  margin-left: 50px;
  color: black;
}

#projHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 1rem;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-right: 0;
  justify-content: center;
  align-items: center;
}

.overlay-text {
  position: absolute;
  left: 250px;
  margin-top: -200px;
  max-width: 300px;

  color: black;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.project {
  flex: 1 1 calc(33% - 2rem);
  color: red;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  border-radius: 10px;

  display: inline-block;
}

.project h3 {
  margin-top: 0;
}

#tools {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  color: white;
  font-family: Arial, sans-serif;
}

#skills {
  padding-top: 200px;
  padding-bottom: 100px;
  max-width: 300px;
}

#container-skills {
  border-radius: 10px;
  display: grid;
  place-items: center;
  height: 700px;
  width: 80%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

#section-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

img.projImg:hover {
  background-color: grey;
  opacity: 50%;
}

.favicon {
  max-width: 80px;
  margin-top: -200px;
  opacity: 40%;
  margin-left: -70px;
}
.container {
  position: relative;
}

#laptop {
  max-width: 300px;
  text-align: center;
  margin-top: 100px;
}

#f1 {
  position: absolute;
  color: #fff;
  max-width: 300px;
  min-height: 300px;

  margin-top: -500px;
  transform: translate(-50%, -50%);

  animation: rotateOne 22s linear infinite;
}
@keyframes rotateOne {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#f2 {
  position: absolute;
  color: #fff;
  max-width: 320px;
  min-height: 320px;

  margin-top: -500px;
  transform: translate(-50%, -50%);

  animation: rotateTwo 20s linear infinite;
}

@keyframes rotateTwo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

#f3 {
  position: absolute;
  color: #fff;
  max-width: 320px;
  min-height: 320px;

  margin-top: -500px;
  transform: translate(-50%, -50%);

  animation: rotateThree 20s linear infinite;
}
@keyframes rotateThree {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#f4 {
  position: absolute;
  color: #fff;
  max-width: 320px;
  min-height: 320px;

  margin-top: -500px;
  transform: translate(-50%, -50%);

  animation: rotateFour 19s linear infinite;
}
@keyframes rotateFour {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

#f5 {
  position: absolute;
  color: #fff;
  max-width: 320px;
  min-height: 320px;

  margin-top: -500px;
  transform: translate(-50%, -50%);

  animation: rotateFive 18s linear infinite;
}
@keyframes rotateFive {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#f6 {
  position: absolute;
  color: #fff;
  max-width: 320px;
  min-height: 320px;

  margin-top: -500px;
  transform: translate(-50%, -50%);

  animation: rotateSix 17s linear infinite;
}
@keyframes rotateSix {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

#f7 {
  position: absolute;
  color: #fff;
  max-width: 320px;
  min-height: 320px;

  margin-top: -500px;
  transform: translate(-50%, -50%);

  animation: rotateSeven 16s linear infinite;
}
@keyframes rotateSeven {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#f8 {
  position: absolute;
  color: #fff;
  max-width: 320px;
  min-height: 320px;

  margin-top: -500px;
  transform: translate(-50%, -50%);

  animation: rotateEight 15s linear infinite;
}
@keyframes rotateEight {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.planet {
  margin-top: -200px;
  position: relative;
  width: 500px;
  height: 50px;
  border-radius: 15px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 50px;
  background: linear-gradient(to right, rgb(0, 0, 219), rgb(255, 0, 255));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
  font-family: Andale mono, monospsace;
}

#One {
  position: absolute;
  color: #fff;
  width: 10px;
  height: 120px;
  left: 80%;
  margin-top: -100px;
  transform: translate(-50%, -50%);

  animation: rotateOne 3s linear infinite;
}
@keyframes rotateOne {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Two {
  position: absolute;
  color: white;
  width: 20px;
  height: 120px;
  margin-top: -90px;
  left: 20%;

  border-radius: 50%;
  animation: rotateTwo 2s linear infinite;
}
@keyframes rotateTwo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.project {
  position: relative;
}

.image-container {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 250px;
}

.projImg {
  display: block;
  width: 300px;
  height: 250px;
}

.overlay-text {
  position: absolute;
  top: 200px;
  left: 0;
  width: 300px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: Andale mono, monospsace;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  border-radius: 10px;
}

.image-container:hover .overlay-text {
  opacity: 1;
}

img.github-favicon {
  max-width: 25px;
  border-radius: 10px;
  position: absolute;
  right: 15px;
  bottom: 10px;
}

#wrapper {
  background-color: blue;
  width: 500px;
}

button.live-view {
  min-width: 50px;
  position: absolute;
  right: 50px;
  bottom: 13px;
  border-radius: 5px;
  border: none;
  font-family: Andale mono, monospsace;
}

img.github-favicon:hover {
  cursor: pointer;
  opacity: 80%;
}

.live-view:hover {
  cursor: pointer;
  opacity: 80%;
}
